// Commons

//Breakpoint
$desktop: 1200px;
$tablet: 768px;
$mobile: 640px;

//colors
$primaryColor: #79fc96;
$pink: #FABAF0;
$orange: #FC9251;

// Typography
@font-face {
  font-family: 'GT Flexa';
  src:url('assets/fonts/GT-Flexa-Standard-Light.woff2') format('woff2'),
      url('assets/fonts/GT-Flexa-Standard-Light.woff') format('woff'),
      url('assets/fonts/GT-Flexa-Standard-Light.otf') format('otf'),
      url('assets/fonts/GT-Flexa-Standard-Light.ttf') format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'GT Flexa';
  src:url('assets/fonts/GT-Flexa-Standard-Light-Italic.woff2') format('woff2'),
      url('assets/fonts/GT-Flexa-Standard-Light-Italic.woff') format('woff'),
      url('assets/fonts/GT-Flexa-Standard-Light-Italic.otf') format('otf'),
      url('assets/fonts/GT-Flexa-Standard-Light-Italic.ttf') format('ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'GT Super';
  src: url('assets/fonts/GT-SuperText-Regular.woff2') format('woff2'),
      url('assets/fonts/GT-SuperText-Regular.woff') format('woff'),
      url('assets/fonts/GT-SuperText-Regular.otf') format('otf'),
      url('assets/fonts/GT-SuperText-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'GT Super';
  src: url('assets/fonts/GT-SuperText-RegularItalic.woff2') format('woff2'),
      url('assets/fonts/GT-SuperText-RegularItalic.woff') format('woff'),
      url('assets/fonts/GT-SuperText-RegularItalic.otf') format('otf'),
      url('assets/fonts/GT-SuperText-RegularItalic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GT Flexa Mono';
  src:url('assets/fonts/GT-Flexa-Mono-Regular.woff2') format('woff2'),
      url('assets/fonts/GT-Flexa-Mono-Regular.woff') format('woff'),
      url('assets/fonts/GT-Flexa-Mono-Regular.otf') format('otf'),
      url('assets/fonts/GT-Flexa-Mono-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Editorial New';
  src:url('assets/fonts/PPEditorialNew-Light.woff2') format('woff2'),
      url('assets/fonts/PPEditorialNew-Light.woff') format('woff'),
      url('assets/fonts/PPEditorialNew-Light.otf') format('otf'),
      url('assets/fonts/PPEditorialNew-Light.ttf') format('ttf'),
      url('assets/fonts/PPEditorialNew-Light.eot') format('eot');
  font-weight: 400;
}

@font-face {
  font-family: 'Editorial New';
  src:url('assets/fonts/PPEditorialNew-LightItalic.woff2') format('woff2'),
      url('assets/fonts/PPEditorialNew-LightItalic.woff') format('woff'),
      url('assets/fonts/PPEditorialNew-LightItalic.otf') format('otf'),
      url('assets/fonts/PPEditorialNew-LightItalic.ttf') format('ttf'),
      url('assets/fonts/PPEditorialNew-LightItalic.eot') format('eot');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Media Sans';
  src:url('assets/fonts/MediaSans-Black.woff2') format('woff2'),
      url('assets/fonts/MediaSans-Black.woff') format('woff'),
      url('assets/fonts/MediaSans-Black.ttf') format('ttf'),
      url('assets/fonts/MediaSans-Black.svg') format('svg');
  font-weight: 900;
}

@font-face {
  font-family: 'Media Sans';
  src:url('assets/fonts/MediaSans-BlackItalic.woff2') format('woff2'),
      url('assets/fonts/MediaSans-BlackItalic.woff') format('woff'),
      url('assets/fonts/MediaSans-BlackItalic.ttf') format('ttf'),
      url('assets/fonts/MediaSans-BlackItalic.svg') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Media Sans Extended';
  src:url('assets/fonts/MediaSansExtended-Ultra.woff2') format('woff2'),
      url('assets/fonts/MediaSansExtended-Ultra.woff') format('woff'),
      url('assets/fonts/MediaSansExtended-Ultra.ttf') format('ttf'),
      url('assets/fonts/MediaSansExtended-Ultra.svg') format('svg');
  font-weight: 900;
}

@font-face {
  font-family: 'Media Sans Extended';
  src:url('assets/fonts/MediaSansExtended-UltraItalic.woff2') format('woff2'),
      url('assets/fonts/MediaSansExtended-UltraItalic.woff') format('woff'),
      url('assets/fonts/MediaSansExtended-UltraItalic.ttf') format('ttf'),
      url('assets/fonts/MediaSansExtended-UltraItalic.svg') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Media Sans Condensed';
  src:url('assets/fonts/MediaSansCondensed-Black.woff2') format('woff2'),
      url('assets/fonts/MediaSansCondensed-Black.woff') format('woff'),
      url('assets/fonts/MediaSansCondensed-Black.ttf') format('ttf'),
      url('assets/fonts/MediaSansCondensed-Black.svg') format('svg');
  font-weight: 900;
}

@font-face {
  font-family: 'Media Sans Condensed';
  src:url('assets/fonts/MediaSansCondensed-BlackItalic.woff2') format('woff2'),
      url('assets/fonts/MediaSansCondensed-BlackItalic.woff') format('woff'),
      url('assets/fonts/MediaSansCondensed-BlackItalic.ttf') format('ttf'),
      url('assets/fonts/MediaSansCondensed-BlackItalic.svg') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Media Sans Extra Condensed';
  src:url('assets/fonts/MediaSansExtraCondensed-Black.woff2') format('woff2'),
      url('assets/fonts/MediaSansExtraCondensed-Black.woff') format('woff'),
      url('assets/fonts/MediaSansExtraCondensed-Black.ttf') format('ttf'),
      url('assets/fonts/MediaSansExtraCondensed-Black.svg') format('svg');
  font-weight: 900;
}

@font-face {
  font-family: 'Media Sans Extra Condensed';
  src:url('assets/fonts/MediaSansExtraCondensed-BlackItalic.woff2') format('woff2'),
      url('assets/fonts/MediaSansExtraCondensed-BlackItalic.woff') format('woff'),
      url('assets/fonts/MediaSansExtraCondensed-BlackItalic.ttf') format('ttf'),
      url('assets/fonts/MediaSansExtraCondensed-BlackItalic.svg') format('svg');
  font-weight: 900;
  font-style: italic;
}

.serif {
  font-family: 'Editorial New';
}

.serif-text {
  font-family: 'GT Super';
}

.sans {
  font-family: 'GT Flexa';
}

.mono {
  font-family: 'GT Flexa Mono';
}

.extended {
  font-family: 'Media Sans Extended';
}

.normal {
  font-family: 'Media Sans';
}

.condensed {
  font-family: 'Media Sans Condensed';
}

.xcondensed {
  font-family: 'Media Sans Extra Condensed';
}

.s-huge { 
  font-size: 20vh;
}

.s-large { 
  font-size: 5vh;
}

.s-big { 
  font-size: 40px;
}

.s-medium { 
  font-size: 24px;
}

.s-regular {
	font-size: 18px;
}

.s-small {
  font-size: 14px;
}

.s-xsmall {
  font-size: 11px;
}


// grid system
$spacing: 30px;
$half-spacing: $spacing/2;
$double-spacing: $spacing*2;
$triple-spacing: $spacing*3;
$fourfold-spacing: $spacing*4;

$col: 8.3333%;

// col system
.d-one-third {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-half {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-thirds{
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-whole {
  width: calc(100% - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-one-twelfth {
  width: calc(#{$col} - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-twelfth {
  width: calc(#{$col}*2 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-three-twelfth {
  width: calc(#{$col}*3 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-four-twelfth {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-six-twelfth {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eight-twelfth {
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-nine-twelfth {
  width: calc(#{$col}*9 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-ten-twelfth {
  width: calc(#{$col}*10 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eleven-twelfth {
  width: calc(#{$col}*11 - #{$spacing});
  margin: 0 #{$half-spacing};
}


// padding
.d-one-twelfth-pad {
  width: $col;
  padding-right: #{$half-spacing};
  padding-left: #{$half-spacing};
}

.d-two-twelfth-pad {
  width: $col*2;
  padding-right: #{$half-spacing};
  padding-left: #{$half-spacing};
}

.d-three-twelfth-pad {
  width: $col*3;
  padding-right: #{$half-spacing};
  padding-left: #{$half-spacing};
}

.d-four-twelfth-pad {
  width: $col*4;
  padding-right: #{$half-spacing};
  padding-left: #{$half-spacing};
}


// spacers
.spacing-b-1 {
  margin-bottom: $half-spacing;
}

.spacing-b-2 {
  margin-bottom: $spacing;
}

.spacing-b-3 {
  margin-bottom: $double-spacing;
}

.spacing-b-4 {
  margin-bottom: $triple-spacing;
}

.spacing-t-1 {
  margin-top: $half-spacing;
}

.spacing-t-2 {
  margin-top: $spacing;
}

.spacing-t-3 {
  margin-top: $double-spacing;
}

.spacing-t-4 {
  margin-top: $triple-spacing;
}

// padding
.spacing-p-b-half {
  padding-bottom: $half-spacing/2;
}

.spacing-p-b-1 {
  padding-bottom: $half-spacing;
}

.spacing-p-b-2 {
  padding-bottom: $spacing;
}

.spacing-p-b-3 {
  padding-bottom: $double-spacing;
}

.spacing-p-b-4 {
  padding-bottom: $triple-spacing;
}

.spacing-p-t-half {
  padding-top: $half-spacing/2;
}

.spacing-p-t-1 {
  padding-top: $half-spacing;
}

.spacing-p-t-2 {
  padding-top: $spacing;
}

.spacing-p-t-3 {
  padding-top: $double-spacing;
}

.spacing-p-t-4 {
  padding-top: $triple-spacing;
}